body {
    box-sizing: border-box;
    height: 950px;
    display: flex;
    justify-content: center;
}

.calculator-container {
    box-sizing: border-box;
    box-shadow: 10px 5px 5px gray;
    border-style: solid;
    width: 430px;
    height: 750px;
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.display-container {
    box-sizing: border-box;
    border-style: solid;
    border-radius: 15px;
    padding: 8px;
    height: 120px;
    width: 400px;
    margin: 16px;
    flex: 0 1 auto;
    display: flex;
    align-items: center;
}

.display-text {
    font-size: 40px;
}

.button-container {
    width: 400px;
    height: 600px;
    flex: 0 1 auto;
    display: flex;
}

.digits-container {
    box-sizing: border-box;
    width: 300px;
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
}

.digits-1-to-9 {
    box-sizing: border-box;
    height: 450px;
    flex: 0 1 auto;
    display: flex;
    flex-wrap: wrap;
}

.digit-1, .digit-2, .digit-3, .digit-4, .digit-5, .digit-6, .digit-7, .digit-8, .digit-9 {
    box-sizing: border-box;
    box-shadow: 10px 5px 5px gray;
    font-size: 24px;
    margin: 8px;
    height: 134px;
    width: 84px;
    flex: 0 1 auto;
}

.digit-0-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.digit-0 {
    box-sizing: border-box;
    box-shadow: 10px 5px 5px gray;
    font-size: 24px;
    margin: 8px;
    height: 134px;
    width: 84px;
    flex: 0 1 auto;
}

.other-buttons-container {
    width: 100px;
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
}

.clear, .plus, .minus, .times, .divide, .equals {
    box-sizing: border-box;
    box-shadow: 10px 5px 5px gray;
    font-size: 24px;
    margin: 8px;
    width: 84px;
    height: 104px;
    flex: 0 1 auto;
}

